<%
var audiosJson = JSON.stringify(site.data.musics);
%>

<link rel="stylesheet" href="<%- theme.libs.css.aplayer %>">
<div class="music-player">
    <% if (theme.music.showTitle) { %>
    <div class="title center-align">
        <i class="fa fa-music"></i>&nbsp;&nbsp;<%- theme.music.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s12">
            <div id="aplayer" class="music"></div>
        </div>
    </div>
</div>

<script src="<%- theme.libs.js.aplayer %>"></script>
<script>
$(function () {

   // /*
   //https://music.163.com/api/playlist/detail?id=131915944
   //原地址受跨域影响，使用第三方api  https://v1.itooi.cn/netease/songList获取
    $.getJSON('https://v1.itooi.cn/netease/songList',{id:'<%- theme.music.wyplaylist %>'},function(data){
        var msl=data.data.tracks;//第三方api数据结构
        // var msl=data.result.tracks;//官方数据结构
        var m_json=new Array()
        for(var i=0;i<msl.length;i++){
            var m_m={};
            var ms=msl[i];
            var m_artist="";//歌手
            for(var j=0;j<ms.artists.length;j++){
                if(m_artist!="")m_artist+=",";
                m_artist+=ms.artists[j].name;
            }
            var m_name=ms.name;//歌名
            var m_id=ms.id;//歌曲id
            var m_pic=ms.album.picUrl;//歌曲图片
            m_m.name=m_name;
            m_m.artist=m_artist;
            m_m.url='https://music.163.com/song/media/outer/url?id='+m_id+'.mp3';
            m_m.cover=m_pic;
            m_json[i]=m_m;
        }
        console.log(JSON.stringify(m_json));
        new APlayer({
            container: document.getElementById('aplayer'),
            fixed: '<%- theme.music.fixed %>' === 'true',
            autoplay: '<%- theme.music.autoplay %>' === 'true',
            theme: '<%- theme.music.theme %>',
            loop: '<%- theme.music.loop %>',
            order: '<%- theme.music.order %>',
            preload: '<%- theme.music.preload %>',
            volume: Number('<%- theme.music.volume %>'),
            listFolded: '<%- theme.music.listFolded %>' === 'true',
            listMaxHeight: '<%- theme.music.listMaxHeight %>',
            audio: m_json //audiosJson //m_json
        });
    });

   // */
    /*
    new APlayer({
        container: document.getElementById('aplayer'),
        fixed: '<%- theme.music.fixed %>' === 'true',
        autoplay: '<%- theme.music.autoplay %>' === 'true',
        theme: '<%- theme.music.theme %>',
        loop: '<%- theme.music.loop %>',
        order: '<%- theme.music.order %>',
        preload: '<%- theme.music.preload %>',
        volume: Number('<%- theme.music.volume %>'),
        listFolded: '<%- theme.music.listFolded %>' === 'true',
        listMaxHeight: '<%- theme.music.listMaxHeight %>',
        audio: JSON.parse('<%- audiosJson %>')
    });
    */
});
</script>